
# Cardiovascular Disease Dataset

1. Dataset Description:
This dataset includes medical records of patients, such as age, gender, cholesterol levels, and blood pressure, along with the target variable showing the presence or absence of cardiovascular disease. The data was collected from "Kaggle" to understand the risk factors and improve predictive models for cardiovascular disease.

2. Goal:
This dataset aims to help detect cardiovascular disease early through predictive modeling, identifying key risk factors, and developing models to predict cardiovascular problems for personalized and timely interventions by healthcare professionals. By focusing on this dataset, we're dealing with classification and clustering.

5. Link to dataset:
https://www.kaggle.com/datasets/sulianova/cardiovascular-disease-dataset

6. General information:

   
   -Number of attributes: 14

   -Attributes type: Integer - Decimal.

   -Number of objects: 70000

   -The class label: presence or absence of cardiovascular disease.

In [19]:
import pandas as pd

In [20]:
cardiovascular=pd.read_csv('healthData.csv')
df=pd.DataFrame(cardiovascular)

In [21]:
print('The number of rows:')
rows=df.shape[0]
print(rows)

The number of rows:
70000

In [22]:
print('The number of columns:')
columns=df.shape[1]
print(columns)

The number of columns:
14

In [23]:
print('Information about dataset:')
print(df.info)

Information about dataset:
<bound method DataFrame.info of        Unnamed: 0       id      age  gender  height  weight  ap_hi  ap_lo  \
0               0      0.0  18393.0       1   168.0    62.0  110.0   80.0
1               1      1.0  20228.0       0   156.0    85.0  140.0   90.0
2               2      2.0  18857.0       0   165.0    64.0  130.0   70.0
3               3      3.0  17623.0       1   169.0    82.0  150.0  100.0
4               4      4.0  17474.0       0   156.0    56.0  100.0   60.0
...           ...      ...      ...     ...     ...     ...    ...    ...
69995       69995  99993.0  19240.0       1   168.0    76.0  120.0   80.0
69996       69996  99995.0  22601.0       0   158.0   126.0  140.0   90.0
69997       69997  99996.0  19066.0       1   183.0   105.0  180.0   90.0
69998       69998  99998.0  22431.0       0   163.0    72.0  135.0   80.0
69999       69999  99999.0  20540.0       0   170.0    72.0  120.0   80.0

       cholesterol  gluc  smoke  alco  active  cardio
0                0     0      0     0       1       0
1                2     0      0     0       1       1
2                2     0      0     0       0       1
3                0     0      0     0       1       1
4                0     0      0     0       0       0
...            ...   ...    ...   ...     ...     ...
69995            0     0      1     0       1       0
69996            1     1      0     0       1       1
69997            2     0      0     1       0       1
69998            0     1      0     0       0       1
69999            1     0      0     0       1       0

[70000 rows x 14 columns]>

In [24]:
df.to_csv("DataFrame.csv")